.webcam{
    width:500px;
    height:300px;
    background-color: black;
    margin-left:250px ;
}
.d-none{
    visibility: hidden;
    display: none;
}

.buttons{
    margin-top: 20px;
    text-align: center;
}

.selected{
    margin: 6px;
    border-style: solid;
    border-color: black;
}
.imgview{
    height: 200px;
    width: 100px;
    margin: 2px;
}

.form_data{
    text-align: center ;
}

.video {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas{
    position: absolute;
}